<html>
    <head>
        <script type="text/javascript" src="/Users/intern6/Desktop/AngularJS/angular.min.js"></script>
    </head>
    <body>
        <div ng-app="">
            <p>Enter your name in the Input Box:</p>
            <p>Name:<input type="text" ng-model="person.name"></p>
            <p>your name is :{{ person.name }}</p>
            <p>Please enter your contact Number:<input type="text" ng-model="person.contact_number"></p>
            <p>Your contact number is: {{ person.contact_number }}</p>
            <p>Person Details: {{ person }}</p>
        </div>
    </body>
</html>