<html>
    <head>
        <script src="/Users/intern6/Desktop/AngularJS/angular.min.js"></script>
        <script src="/Users/intern6/Desktop/AngularJS/SpicyApp.js"></script>
    </head>
    <body ng-app="spicyApp">
        <div ng-controller="SpicyController">
        <button ng-click="chilliSpicy()">Red Chilli</button>
            <button ng-click="jalapenoSpicy()">Jalapeno Spicy</button>
            <button ng-click="hotSpicy()">hot Spicy</button>
            <p>The Food is {{ spicy }} spicy!!!!</p>
        </div>
    </body>
</html>