.carousel-inner { margin: auto; width: 90%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,
.carousel-control.right {
  background-image:none;
}
 
.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  margin-top:-10px;
  margin-left: -10px;
  color: #444;
}

.carousel-inner {
  a {
    display:table-cell;
    height: 180px;
    width: 200px;
    vertical-align: middle;
  }
  img {
    max-height: 150px;
    margin: auto auto;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 992px ) {
  
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-16.7%, 0, 0);
      transform: translate3d(-16.7%, 0, 0);
  }
  
}
/*Parallax 3 icons*/

        #service{
            background:url(http://sentric.imaginemthemes.com/wp/files/2014/10/climber.jpg);
            background-size:cover;
            background-position:center center;
            background-attachment:fixed;
            }
        .container-fluid{
            text-align:center; 
            position:relative;
            width: 100%;
            }
        .inner{
            min-height:600px;
            position: relative;
            color: snow;
            }
        .copy{
            position:absolute; 
            top:50%; 
            height:10em; 
            margin-top:-5em; 
            width:100%;
            }
        .custom-icon {
            
            background:#666;
            background:rgba(0,0,0,0.4);
            padding:65px;
            -webkit-border-radius:1100%;
            -moz-border-radius:100%;
            -o-border-radius:100%;
            border-radius:100%;
            color:#fff;
            width:50px;
            height:50px;
        }
.single_counter_two_right i.fontawesome{
    text-align: center;
}
          

/*OUR EXPERTISE SECTION*/
        .our-expertise{
                height: 400px;
                width: auto;
                background-color: #222222;
                padding-left: 100px;
            }
        .column-eighty-percent{
        font-size:13px;
		letter-spacing: 1.5px;
		line-height: 24px;
		margin-bottom: 20px;
        width: 80%;
        color: snow;
        }
    .item-common h2.item-title {
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size:26px;
		letter-spacing: 2px;
		line-height: 34px;
		margin-bottom: 20px;
        text-transform: uppercase;
        color: snow;
        }
/*END of OUR EXPERTISE SECTION*/


/*Counter Up*/
        .sections {
                padding-top: 75px;
                padding-bottom: 105px;
                overflow: hidden;/* no scrollbars are provided */
            }
            .overlay {
                background-color: rgba(220, 220, 220, 0.65);
                width: 100%;
                height: 100%;
            }
            .counter_two{
                background-size:cover;
                height: 520px;
                overflow: hidden;
            }

            .counter_two .main_counter_two .single_counter_two_right{
                margin-top:30px;
                overflow: hidden;
                display: block;
            }
            .counter_two .main_counter_two .single_counter_two_right i{
                color:aqua;
                font-size:7.125rem;
                margin-bottom:40px;
                margin-top: 30px;
                line-height: 4rem;
                display: inline-block;
            }
            .counter_two .main_counter_two .single_counter_two_right h3{
                color:lightslategrey;
                margin-bottom:30px;
                line-height: 0;
            }
            .counter_two .main_counter_two .single_counter_two_right p{
                color:black;
                font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
                letter-spacing: 0.2em;
                font-weight: bold;
            }
            .counter_two .main_counter_two .single_counter_two_right title{
                color:lightslategrey;
                font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
            }
/*End of counter*/



/*Start of WE Support text*/
            h2.item-title {
            font-size: 26px;
            letter-spacing: 2px;
            line-height: 34px;
            margin-bottom: 20px;
            }
           .title .centered-sixty-percent {
	        text-align: center;
	         width: 60%;
	        margin: 0 auto;
           }
/*End of WE Support text*/




            /* Landscape phones and portrait tablets */
            @media  (max-width: 768px) {
                html {
                    font-size: 80%;
                }

                .counter_two {
                    height: auto;
                }
                .overlay{
                    height: auto;
                }
            }  
         
     nav{

 position: fixed;
 top: 0px;
 left: 0px;
 margin: 0 auto;
 width: 100%;
 background-color: #696969;
}

nav ul{
 list-style-type: none;
 text-align: center;
}

nav ul li{ 
 display: inline-block;
 text-align: center;
 padding: 20px;
 height: 3%;
}

nav ul li a{
 color: white;
 padding: 20px;
}


/* an underline appears at the bottom on hover of each link */
nav ul li a:hover, nav ul li a:active{
 text-decoration: none;
 border-top: 2px solid #ccc;
 padding-top: 2px;
 border-top-color: aqua;
   color:white;

}
/* end of navigation section*/
 nav ul li{
   padding: 5px;
 }


/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
  /* display: inline-block;*/

}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
   z-index: 1;

}

/* Links inside the dropdown */
.dropdown-menu a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
  /* display: block;*/

}
/* Change color of dropdown links on hover */
.dropdown-menu a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
   display: block;
}


/* another CSS style */
@import "compass/css3";

html, body{
 margin:0px; padding:0px;
}


header{
 z-index: 1;
 position:fixed; 
 width:100%; 
 height:60px; 
 background:rgba(0,0,0,0);
}

header a{
 color:white;
 background:rgba(0,0,0,0); 
 padding:0px 0px; 
 height:60px;
 line-height:0px; 
 text-align:center;
 font-family: 'Roboto Slab', serif; 
 text-decoration:none;
 text-transform:uppercase; 
 letter-spacing:2px; 
 font-weight:700;
}

#hero2{background: url(http://sentric.imaginemthemes.com/wp/files/2014/11/photodune-3447462-hourglass-m2.jpg);
 background-size:cover;
 background-position:center center;
 background-attachment:fixed;
}
 .content{
 text-align:center; 
 position:relative;
 width: 100%;
}







.content h1, .content p{
 color:#333;
}

h1{
 margin:0px;
 font-family: 'Roboto Slab', serif;
 font-weight:400;
 font-size:32px;
 padding:0px 20px;
}

p{
 font-family: 'Noto Sans', sans-serif; 
 font-size:14px;
 padding:0px 20px;
} 
    
    
    
/*Footer*/
#copyright {
    color: #fff;
    background: #000;
    padding: 10px;
    display: block;
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 26px;
    margin: 0;
    text-align: center;
}
#footer a {
    text-decoration: none;
}
.glyphicon glyphicon-flash li .linkfeatures, .glyphicon glyphicon-flash li .linkfeatures {
    border: 0;
    position: relative;
    display: block;
}


.contact_address_block h4{
               color:black;
              
           }



.overlay {
               background-color: rgba(220, 220, 220, 0.65);
               width: 100%;
               height: 100%;
}
.glyphicon glyphicon-record  strong {
    text-align: right;
    font-weight: bold;
}

/*
.glyphicon glyphicon-record dt {
    padding-left: 10px;
    position: relative;
}
 ..glyphicon glyphicon-record dt, .glyphicon glyphicon-record dd {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.glyphicon glyphicon-record dt {
    float: left;
    clear: left;
}
*/

#footer{
    background-color: rgba(220, 220, 220, 0.65);
}
.contact_address_block {
	list-style: none;
	margin: 0px 0 0 0;
	font-size:13px;
	}
	.popularinKnowledgeFooter li {font-size:omgHuge;}
	.popularinKnowledgeFooter a {
        color:black;}
.contact_address_block a {
        color:black;
      font-family:sans-serif;
             
	}

              
	}
	.contact_address_block a:hover {
		color: #000;
        
	}
	
	.contact_address_block li,
	#footer .contact_address_block li,
	#sidebar .contact_address_block li  {
		margin: 0 0 3px 0;
		padding:0;
		letter-spacing:0.5px;
         
		}
		.contact_address_block li {
			padding: 4px 0;
		}
		#footer .contact_address_block li {
			letter-spacing: 0.5px;
			margin: 0;
			padding: 0;
/*			padding: 6px 0;*/
		}
		
		.contact_address_block .about_info, #footer .contact_address_block .about_info{
			padding: 0 0 10px 0;
			}
		#footer .contact_address_block .about_info {
			}

			#footer .contact_name,
			.sidebar-widget .contact_name {
				font-weight: bold;
			}
			
		#footer .contact_address_block .contact_name {
			}
			
		.contact_address_block .contact_address {
			}

		#footer .contact_address_block li,
		.sidebar-widget .contact_address_block li {
			padding-left: 20px;
			border:0;
		}
		.sidebar-widget .contact_address_block li.about_info {
			padding-left: 0;
		}
		.contact_address_block .contact_city {
			}
			
		.contact_address_block .contact_phone,
		.contact_address_block .contact_mobile,
		.contact_address_block .contact_email,
		.contact_address_block .contact_name {
			position: relative;
			}
			.contact_address_block .contact_phone:before,
			.contact_address_block .contact_mobile:before,
			.contact_address_block .contact_email:before,
			.contact_address_block .contact_name:before {
				font-family: 'fontawesome';
				position: absolute;
				left: -20px;
				color: #000;
			}
		.contact_address_block .contact_email {
			}
			
		.contact_address_block .contact_email a {
			display: inline;
			}

		#footer .contact_address_block .contact_name {
			}

		#footer .contact_address_block .contact_phone {
			}
			
		#footer .contact_address_block .contact_mobile {
			}
			
		#footer .contact_address_block .contact_email {
			}
				
.page-contents-right {
	padding: 10px 40px 40px 20px;
	}
   
    .skills{
        height:400px;
        width: auto;
    }
    
    
    